body{
    background: rgb(0, 179, 233);
    margin: 20px 0;
    font-family: sans-serif;
}
.wrapper{
    width: 800px;
    margin: 0 auto;
    background: rgb(255, 255, 255);
    border-radius: 10px;
}

header{
    padding: 50px;
}

header > #logo{
    font-size: 2em;
}